@import '~/node_modules/bootstrap/scss/bootstrap.scss';
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1e2d3b;
    height: 100vh;
    overflow: auto;
}

img {
    max-width: 100%;
}